<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
    <typeAliases>
    	
    	
    </typeAliases>
    
	<!-- 맵퍼 경로 설정 -->
	<mappers>
		<!-- <mapper resource="kr/co/artest/mapper/user.xml"/> -->
		<mapper resource="/com/deajun/mapper/board.xml"/>
	</mappers>
	
</configuration>








